<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ирландия</title>
</head>

<body>
    <header>
        <div class="logo">
            <img class="logotip" src="#" alt="логотип">
        </div>
        <nav>
            <ul>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
        </nav>
        <option value="">
            <select name="" id=""></select>
            <select name="" id=""></select>
            <select name="" id=""></select>
            <select name="" id=""></select>
            <select name="" id=""></select>
        </option>
    </header>
    <main>
        <div class="slidebar">
            <div class="article">
                <h1>
                    Туры в Ирландию
                </h1>
            </div>
        <div class="cards">
            <div class="nav">
                <
            </div>
            <div class="nav">
                >
            </div>
            <div class="tour card">
                <h4></h4>
            </div>
            <div class="tour card">
                <h4></h4>
            </div>
            <div class="tour card">
                <h4></h4>
            </div>
        </div>
        <ul>
            <li>01</li>
            <li>02</li>
            <li>03</li>
            <li>04</li>
            <li>05</li>
        </ul>
    </div>
    </main>
    <footer></footer>
</body>
</html>