@primary: #603232;
@second: #BE8164;
@light: #FFFFFF;
@light-bg: #EDEFF5;
@light-text: #9CA5AF;
@text: #1e2022;

body{
    margin:0px;
    padding:0px;
}

header{
    width: 100%;
    height: 120px;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    padding: 0px 4%;
    box-sizing: border-box;
    .logo{
        flex-basis: 40%;
    }
}

.horiz-menu{
    display: flex;
    list-style-type: none;
    padding: 0px;
    >li:not(:last-child){
        margin-right: 26px;
    }
}

main{
    width:1200px;
    margin: 0 auto;
    position: relative;
    align-items: center;
    top:120px;
    display: flex;
    // min-height: 550px;
    height: calc(100vh-120px);
    .article{
        flex-basis: 40%;

    }

    .gallery-cards{
        height: 100%;
        .gallery{
            display: flex;
            height: 80px;
            .card{
                margin-right: 60px;
            }
        }
    }
    .controls{
        width:100%;
        display:flex;
        justify-content: space-between;
    }
}