@primary: #603232;
@second: #BE8164;
@light: #FFFFFF;
@light-bg: #EDEFF5;
@light-text: #9CA5AF;
@text: #f0f0f1;

@font-face {
    font-family: 'Menlo';
    src: url('../fonts/Menlo/Menlo-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Menlo';
    src: url('../fonts/Menlo/Menlo-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Menlo';
    src: url('../fonts/Menlo/Menlo-Italic.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'Menlo';
    src: url('../fonts/Menlo/Menlo-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Involve';
    src: url('../fonts/Involve/Involve-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Involve';
    src: url('../fonts/Involve/Involve-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Involve';
    src: url('../fonts/Involve/Involve-Italic.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'Involve';
    src: url('../fonts/Involve/Involve-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

body {
    background-image: url('../images/wallpaper-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    margin:0;
    padding:0;
    color: @text;
}

header {
    font-family:'Involve';
    width: 100%;
    height: 70px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 0px 4%;
    box-sizing: border-box;
    align-items: center;
    .logo{
        flex-basis: 40%;
    }
    .sidebar{
        
        align-items: center;
        display: flex;
        width: 400px;
        justify-content: space-between;
        .search{
            width: fit-content;
            height: fit-content;
            position: relative;
            // border: #000 1px solid;
            input{
                background-color: rgba(255, 255, 255, 0.2);
                height: 40px;
                border-radius: 10px;
                border-color: transparent;
            }
        }
    }
    .side-menu {
        line-height: 40px;
    }
}

.horizontal-menu {
    display: flex;
    list-style-type: none;
    padding: 0;
    >li:not(:last-child){
        margin-right: 26px;
    }
}

main {
    font-family:'Involve';
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: 120px;  
    display: flex;
    align-items: center;
    height: calc(100vh - 120px);
    article {
        width: 500px;
        float: left;
        margin-right: 30px;
        margin-left: 10px;
        margin-top: -90px;
        h1{
            font-size: 60px;
            margin-bottom: 0px;
            margin-top: 0px;
        }
        button{
            font-family: 'Involve';
            font-weight: bold;
            font-size: 15px;
            height: 45px;
            width: 210px;
            border-radius: 15px;
            background-color: rgba(95,51,17, 0.7);
            border-color: transparent;
            backdrop-filter: blur(1px);
            color: @text;
        }
    }

    .gallery-cards {
        height: 100%;
        float: left;
        .gallery {
            
            height: 80%;
            display: flex;
            margin-bottom: 60px;    
            .card {
                height: 100%;
                margin-right: 30px;
                width: 250px;
                h4{
                    font-size: 17px;
                    margin-bottom: 0px;
                }
                .card-description{
                    .rating{
                        height: 20px;
                        width: 80px;
                        display: inline-flex;
                        justify-content: space-between;
                        .rating-round{
                            height: 7px;
                            width: 7px;
                            border-radius: 50%;
                            border: 2px solid white;
                        }
                        .fill{
                            background-color: white;

                        }
                    }
                }
                .card-photo{
                    background-color: rgba(255, 255, 255, 0.2);
                    height: 80%;
                    border-radius: 12px;
                    position: relative;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 12px;
                    }
                    .fav{
                        position: absolute;
                        right: 15px;
                        top: 15px;
                        background-image: url(../images/fav-btn.png);
                        background-size: contain;
                    }
                }
                
            }
            .card:not(:first-child){
                transform: scale(0.9);
            }
        }
    }

    .controls {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        width: 80%;
        display: flex;
        justify-content: space-between;
        .card-count{
            display: flex;
            align-items: center;
            .line{
                height: 1px;
                width: 80px;
                background-color: @text;
                margin: 0px 6px;
            }
        }
    }
}



a{
    text-decoration: none;
    color: @text;
}


.btn-rounded{
    color: @text;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background: rgba(255, 255, 255, 0.2); 
    border-color: transparent;
    backdrop-filter: blur(1px);
}

ion-icon{
    font-size: 25px;
    font-weight: bold;
}